@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.Settings.PackageUnits
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.Settings.PackageUnits.IndexModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@section scripts{
    <abp-script src="/Pages/Settings/PackageUnits/Index.js" />
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Settings"] />
            <abp-breadcrumb-item title=@L["Menu:PackageUnits"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
            <div class="title">
                @L["Menu:PackageUnits"]
            </div>
            @if (await AuthorizationService.IsGrantedAsync(SettingsPermissions.PackageUnits.Create))
            {
                <abp-button id="NewPackageUnitButton"
                        text="@L["Create"].Value"
                        icon="plus"
                        class="btn btn-add" />
            }
        </abp-card-header>
        <div>
            <button class="btn-success" data-bs-toggle="collapse" data-bs-target="#hidden" style="float: right;margin-top: -20px; margin-right: 20px; margin-bottom: 10px;">
                <i class="fa fa-filter" aria-hidden="true"></i>
                Filters
            </button>
        </div>
        <div id='hidden' class='collapse' style="text-align: center">
            <div class="row col-12" style="text-align: center">
                <abp-column size="_6">
                    <abp-input asp-for="Keyword" />
                </abp-column>
            </div>
            <div class="col-12" style="text-align: center">
                <button class="btn btn-warning mr-2" data-bs-toggle="collapse" data-bs-target="#hidden">
                    Cancel
                </button>
                <abp-button id="SearchButton"
                            text="@L["Search"].Value"
                            icon="search"
                            class="btn-primary" />
            </div>
        </div>
        <abp-card-body>
            

                <abp-table class="nowrap" striped-rows="true" id="PackageUnitsTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>

<style>
    #hidden {
        height: 154px !important;
    }
</style>
