@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.Accounting.Invoices.GAListModel
@inject IStringLocalizer<FreightResource> L

@section scripts
    {
    <abp-script src="/Pages/Accounting/Invoices/GAList.js" />
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Accounting"] />
            <abp-breadcrumb-item title=@L["Menu:Invoice"] />
            <abp-breadcrumb-item title=@L["Menu:Invoice.GAList"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column class="title">
                    <abp-card-title>@L["Menu:Invoice.GAList"]</abp-card-title>
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
                <abp-table class="nowrap" striped-rows="true" id="ListTable" style="width:2000px;"></abp-table>
        </abp-card-body>
    </abp-card>
</div>