@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Web.Pages.Components
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model Dolphin.Freight.Web.Pages.Settings.ContainerSizes.CreateModalModel
@inject IStringLocalizer<FreightResource> L
@{
    Layout = null;
    <abp-script src="/Pages/Settings/ContainerSizes/init.js" />
}
<abp-modal>
    <abp-modal-header title="@L["Create"].Value"></abp-modal-header>
    <abp-modal-body>
        <form id="createForm" method="post" action="/Settings/ContainerSizes/CreateModal">
            <abp-row>
                <abp-column>
                    <abp-input asp-for="ContainerSize.ContainerCode" required-symbol=true />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    <abp-input asp-for="ContainerSize.SizeDescription" />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "ContainerSize.AmsTypeCodeId", AspItems = Model.AmsTypeCodeLookup, IsShowLabel = true, FieldName = L["AmsTypeCode"], SelectType = 0, ShowFiledContentValue = "" })
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    @await Component.InvokeAsync(typeof(DropdownComponent), new ComponentData { Name = "ContainerSize.ContainerGroupId", AspItems = Model.ContainerGroupLookup, IsShowLabel = true, FieldName = L["ContainerGroup"], SelectType = 0, ShowFiledContentValue = "" })
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    <abp-input asp-for="ContainerSize.Teu" />
                </abp-column>
            </abp-row>
            <abp-row>
                <abp-column>
                    <abp-input asp-for="ContainerSize.IsUseed" />
                </abp-column>
            </abp-row>
        </form>

    </abp-modal-body>
    <abp-modal-footer>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <abp-button class="btn btn-primary me-md-2" type="button" id="saveBtn">@L["Save"].Value</abp-button>
        </div>
    </abp-modal-footer>
</abp-modal>
