@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.Customer.IndexModel
@inject IStringLocalizer<FreightResource> L

@section scripts{
    <abp-script src="/Pages/Accounting/Payment/Customer/Index.js"></abp-script>
    @*<abp-script src="/Pages/Accounting/Inv/_InvoiceList.js"></abp-script>*@
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Accounting"] />
            <abp-breadcrumb-item title=@L["Menu:Payment"] />
            <abp-breadcrumb-item title=@L["Menu:Customer"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
            <div class="title">
                @L["Menu:Customer"]
            </div>
          @*   <abp-button id="NewButton"
                        text="@L["Create"].Value"
                        icon="plus"
                        class="btn btn-add" /> *@
    </abp-card-header>
    <abp-card-body>
          <div class="portlet-tool">
                <div class="btn-group" role="group" aria-label="Basic outlined example" style="cursor: no-drop;">
                    <button type="button" class="btn btn-outline-secondary fa fa-plus" onclick="createNew()" id="newBtn"></button>
                             <button type="button" class="btn btn-outline-secondary" id="copyBtn" onclick="copyMbl(true)" disabled><i class="fa fa-files-o me-0"></i></button>
                    <button type="button" class="btn btn-outline-secondary fa fa-trash" onclick="deleteMbls()" id="deleteBtn" disabled></button>
         
       @*              <button type="button" class="btn btn-outline-secondary" onclick="selectedLock()" id="lockId" disabled>Lock</button>
                    <button type="button" class="btn btn-outline-secondary" id="unlockId" onclick="selectedUnLock()" disabled>Unlock</button> *@
                </div>
            </div>
            <abp-table class="nowrap" striped-rows="true" id="CustomerListTable"></abp-table>
    </abp-card-body>
</abp-card>
</div>
