@model Dolphin.Freight.ImportExport.OceanImports.OceanImportDetails

@{
    Layout = null;
}

<abp-style src="/Pages/Reports/Reports.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        setReportType($('#ddlReportType option:selected').val());
        $("#ddlReportType").on('change', function () {

            var id = $('#ddlReportType').val();

            setReportType(id);
        })
    })
    function setReportType(id) {
        $.ajax({
            url: '/Docs/OceanImportProfitReportDetailOrSummry?id=' + id + '&pageType=@Dolphin.Freight.Common.FreightPageType.OIMBL&reportType=@Model.ReportType',
            type: 'GET',
            dataType: "html",
            success: function (reportyBody) {
                $('#docPkgHBLBody').html('');
                $('#docPkgHBLBody').html(reportyBody);
            }
        });
    }

    function printReport() {
        document.getElementById("myForm").submit();
    }
</script>

<div id="docPkgHBLHeader">
    @if (!Model.IsPDF)
    {
        <div class="nav">
            <ul>
                <li>
                    <button type="button" style="width:120px; color:white" onclick="printReport()"><i class="fa fa-print">儲存PDF或列印</i></button>
                </li>
                <li>
                    <select id="ddlReportType">
                        @for (int i = 0; i < Model.DDLItems.Count; i++)
                        {
                            if (i == 0)
                            {
                                <option value="@Model.DDLItems[i].Split('/')[0]" selected>@Model.DDLItems[i].Split('/')[1]</option>
                            }
                            else
                            {
                                <option value="@Model.DDLItems[i].Split('/')[0]">@Model.DDLItems[i].Split('/')[1]</option>
                            }
                        }
                    </select>
                </li>
            </ul>
            <div class="view-setting">
                <div class="btn-group">
                    <button class="button btn-sm" title="Zoom Out" id="zout" disabled="disabled">
                        <i class="fa fa-search-minus"></i>
                    </button>
                    <button class="button btn-sm" title="Zoom In" id="zin">
                        <i class="fa fa-search-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <div id="docPkgHBLBody">
    </div>
</div>