@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.PaymentMadeList.IndexModel
@inject IStringLocalizer<FreightResource> L

@section scripts{
    <abp-script src="/Pages/Accounting/Payment/PaymentMadeList/Index.js"></abp-script>
    @*<abp-script src="/Pages/Accounting/Inv/_InvoiceList.js"></abp-script>*@
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:Accounting"] />
            <abp-breadcrumb-item title=@L["Menu:Payment"] />
            <abp-breadcrumb-item title=@L["Menu:PaymentMadeList"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
            <abp-row class="w-100">
                <abp-column size-md="_6">
                    <abp-card-title>@L["Menu:PaymentMadeList"]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-end p-0">
                  
                    <abp-button id="btnConfiguration"
                                text="@L["Configuration"].Value"
                                icon="gear"
                                button-type="Primary" />
                    <abp-button id="NewButton"
                                text="@L["Create"].Value"
                                icon="plus"
                                button-type="Primary" />
                </abp-column>
            </abp-row>
            
        </abp-card-header>
        <abp-card-body>
            <abp-table class="nowrap" striped-rows="true" id="PaymentMadeListTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>
