@using Dolphin.Freight.Localization;
@using Microsoft.Extensions.Localization;
@using Volo.Abp.Account.Localization
@using Volo.Abp.Users
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<FreightResource> L
@inject ICurrentUser CurrentUser
@model Volo.Abp.Account.Web.Pages.Account.Components.ProfileManagementGroup.Settings.AccountProfileSettingsManagementGroupViewComponentCustom.SettingsInfoModel

@section scripts{
    <abp-script src="/client-proxies/identity-proxy.js" />
}

<h4>@L["Setup"]</h4>
<hr />
<form id="SettingsForm">
    <abp-select asp-for="@Model.Language" asp-items="@Model.LanguageLookupList" style="cursor:pointer"></abp-select>
    <input type="hidden" value="@CurrentUser.Id" id="userId" />

    <abp-button type="button" class="btn btn-cancel" text="Cancel" />
    <abp-button type="submit" button-type="Primary" text="Save Changes" disabled="true" id="btnSave" />
</form>