/* Your Global Styles */
.hbl_sm_area .hbl-sm-0 {
    background: #f3c200;
}

    .hbl_sm_area .hbl-sm-0 .notice {
        border-color: #f3c200;
    }

.hbl_sm_area .hbl-sm-1 {
    background: #8ebaff;
}

    .hbl_sm_area .hbl-sm-1 .notice {
        border-color: #8ebaff;
    }

.hbl_sm_area .hbl-sm-2 {
    background: #e87e04;
}

    .hbl_sm_area .hbl-sm-2 .notice {
        border-color: #e87e04;
    }

.hbl_sm_area .hbl-sm-3 {
    background: #26a69a;
}

    .hbl_sm_area .hbl-sm-3 .notice {
        border-color: #26a69a;
    }

.hbl_sm_area .hbl-sm-4 {
    background: #cb5a5e;
}

    .hbl_sm_area .hbl-sm-4 .notice {
        border-color: #cb5a5e;
    }

.hbl_sm_area .hbl-sm-5 {
    background: rgb(0, 51, 102);
}

    .hbl_sm_area .hbl-sm-5 .notice {
        border-color: rgb(0, 51, 102);
    }

.hbl_sm_area .hbl-sm-6 {
    background: rgba(0, 51, 102, 0.9);
}

    .hbl_sm_area .hbl-sm-6 .notice {
        border-color: rgba(0, 51, 102, 0.9);
    }

.hbl_sm_area .hbl-sm-7 {
    background: rgba(0, 51, 102, 0.8);
}

    .hbl_sm_area .hbl-sm-7 .notice {
        border-color: rgba(0, 51, 102, 0.8);
    }

.hbl_sm_area .hbl-sm-8 {
    background: rgba(0, 51, 102, 0.7);
}

    .hbl_sm_area .hbl-sm-8 .notice {
        border-color: rgba(0, 51, 102, 0.7);
    }

.hbl_sm_area .hbl-sm-9 {
    background: rgba(0, 51, 102, 0.6);
}

    .hbl_sm_area .hbl-sm-9 .notice {
        border-color: rgba(0, 51, 102, 0.6);
    }

.hbl_sm_area .hbl-sm-10 {
    background: rgb(0, 87, 87);
}

    .hbl_sm_area .hbl-sm-10 .notice {
        border-color: rgb(0, 87, 87);
    }

.hbl_sm_area .hbl-sm-11 {
    background: rgba(0, 87, 87, 0.9);
}

    .hbl_sm_area .hbl-sm-11 .notice {
        border-color: rgba(0, 87, 87, 0.9);
    }

.hbl_sm_area .hbl-sm-12 {
    background: rgba(0, 87, 87, 0.8);
}

    .hbl_sm_area .hbl-sm-12 .notice {
        border-color: rgba(0, 87, 87, 0.8);
    }

.hbl_sm_area .hbl-sm-13 {
    background: rgba(0, 87, 87, 0.7);
}

    .hbl_sm_area .hbl-sm-13 .notice {
        border-color: rgba(0, 87, 87, 0.7);
    }

.hbl_sm_area .hbl-sm-14 {
    background: rgba(0, 87, 87, 0.6);
}

    .hbl_sm_area .hbl-sm-14 .notice {
        border-color: rgba(0, 87, 87, 0.6);
    }

.hbl_sm_area .hbl-sm-15 {
    background: rgb(88, 68, 45);
}

    .hbl_sm_area .hbl-sm-15 .notice {
        border-color: rgb(88, 68, 45);
    }

.hbl_sm_area .hbl-sm-16 {
    background: rgba(88, 68, 45, 0.95);
}

    .hbl_sm_area .hbl-sm-16 .notice {
        border-color: rgba(88, 68, 45, 0.95);
    }

.hbl_sm_area .hbl-sm-17 {
    background: rgba(88, 68, 45, 0.9);
}

    .hbl_sm_area .hbl-sm-17 .notice {
        border-color: rgba(88, 68, 45, 0.9);
    }

.hbl_sm_area .hbl-sm-18 {
    background: rgba(88, 68, 45, 0.85);
}

    .hbl_sm_area .hbl-sm-18 .notice {
        border-color: rgba(88, 68, 45, 0.85);
    }

.hbl_sm_area .hbl-sm-19 {
    background: rgba(88, 68, 45, 0.8);
}

    .hbl_sm_area .hbl-sm-19 .notice {
        border-color: rgba(88, 68, 45, 0.8);
    }

.hbl_sm_area .hbl-sm-20 {
    background: rgba(88, 68, 45, 0.75);
}

    .hbl_sm_area .hbl-sm-20 .notice {
        border-color: rgba(88, 68, 45, 0.75);
    }

.hbl_sm_area .hbl-sm-21 {
    background: rgba(88, 68, 45, 0.7);
}

    .hbl_sm_area .hbl-sm-21 .notice {
        border-color: rgba(88, 68, 45, 0.7);
    }

.hbl_sm_area .hbl-sm-22 {
    background: rgba(88, 68, 45, 0.65);
}

    .hbl_sm_area .hbl-sm-22 .notice {
        border-color: rgba(88, 68, 45, 0.65);
    }

.hbl_sm_area .hbl-sm-23 {
    background: rgba(88, 68, 45, 0.6);
}

    .hbl_sm_area .hbl-sm-23 .notice {
        border-color: rgba(88, 68, 45, 0.6);
    }

.hbl_sm_area .hbl-sm-24 {
    background: rgba(88, 68, 45, 0.55);
}

    .hbl_sm_area .hbl-sm-24 .notice {
        border-color: rgba(88, 68, 45, 0.55);
    }

.hblCardTitle{
    color: white
}

.select2-dropdown.select2-dropdown--above {
    width: auto !important;
    min-width: 218px;
}

.select2-dropdown.select2-dropdown--below {
    width: auto !important;
    min-width: 218px;
}

.select2-results__options {
    width: max-content !important;
    min-width: 218px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0px 0px 0px 10px;
}
.select2-container--default .select2-selection--single {
    padding-right: 25px !important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-top: -2px;
    /*background-color: #fff;
    padding-left: 4px;*/
}
.select2 .select2-container .select2-container--default .select2-container--below .select2-container--focus{
    width: 100%;
}
.select2 .select2-container .select2-container--default .select2-container--focus{
    width: 100%;
}
.select2-container {
    height: 9px;
    width: 100% !important;
}
.pull-left{
    float: left !important
}
.pull-right{
    float: right !important;
}
.inline-block {
    display: inline-block;
}
@media (max-width: 1258px) {
    .col-md-9 {
        flex: 0 0 100% !important; /* Override Bootstrap's styling with !important */
        max-width: 100% !important;
    }
}

    .form-control-custom {
        display: block;
        width: 72% !important;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        margin-left: 10px
    }
.customForm .mb-3 > .form-label {
    margin: 0;
    word-break: break-word !important;
    padding: 0;
}
.btn-sm-custom {
    padding: 0.1rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.flex-row > .abp-widget-wrapper {
    width:55px!important;
}
.filteredDropdown > span:first-child {
    width: 100% !important;
}
#HblListTable td {
    border-bottom: 0 !important;
    border-left: 1px outset #dddddd75 !important;
    border-right: 1px outset #dddddd75 !important;
    padding: 8px 5px !important;
    /* font-weight: 600;
    font-size: 12px;*/
}
th {
    border-bottom: 1px outset #dddddd75 !important;
    border-left: 1px outset #dddddd75 !important;
    border-right: 1px outset #dddddd75 !important;
    /*padding: 8px 5px !important;*/
}
#ExportBookingListTable td {
    border-bottom: 0 !important;
    border-left: 1px outset #dddddd75 !important;
    border-right: 1px outset #dddddd75 !important;
    padding: 8px 5px !important;
    /* font-weight: 600;
    font-size: 12px;*/
}
#VesselScheduleListTable td {
    border-bottom: 0 !important;
    border-left: 1px outset #dddddd75 !important;
    border-right: 1px outset #dddddd75 !important;
    padding: 8px 5px !important;
    /* font-weight: 600;
    font-size: 12px;*/
}
#MblListTable td {
    border-bottom: 0 !important;
    border-left: 1px outset #dddddd75 !important;
    border-right: 1px outset #dddddd75 !important;
    padding: 8px 5px !important;
    /* font-weight: 600;
    font-size: 12px;*/
}