@page
@using Dolphin.Freight.Localization
@using Dolphin.Freight.Permissions
@using Dolphin.Freight.Web.Pages.AwbNoRanges
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@model Dolphin.Freight.Web.Pages.AirImports.HawbListModel
@inject IStringLocalizer<FreightResource> L
@inject IAuthorizationService AuthorizationService
@section scripts{
    <abp-script src="/Pages/AirImports/HawbList.js" />
}
<div class="page-header">
    <div class="breadcrumb-wrapper">
        <abp-breadcrumb>
            <abp-breadcrumb-item title=@L["Menu:AirImports"] />
            <abp-breadcrumb-item title=@L["Menu:AirImports.HawbList"] href="#" />
        </abp-breadcrumb>
    </div>
</div>
<div class="page-content-area">
    <abp-card>
        <abp-card-header>
           <abp-row class="w-100">
                <abp-column size-md="_6">
                @L["Menu:AirImports.HawbList"]
            </abp-column>
               <abp-column size-md="_6" class="text-end p-0">
                    <abp-button id="btnConfiguration"
                                text="@L["Configuration"].Value"
                                icon="gear"
                                button-type="Primary" />
                
                </abp-column>
                </abp-row>
        </abp-card-header>
        <abp-card-body>
            <div class="row col-12" style="text-align: left; margin:0!important">
                <abp-column size="_9">
  
                
              
                </abp-column>
                <abp-column size="_3" class="filterDiv">
                    <abp-input asp-for="Search" class="ml-4" />
                </abp-column>
            </div>
              <abp-button type="button" id="btnAirExportHawbListProfit" onclick="getHwabProfitReport()" class="btn btn-outline-secondary" disabled="true">
                <span uib-tooltip="">
                    <i class="fa fa-file-text-o"></i><font style="vertical-align: inherit;">
                        <font style="">
                            Profit Report
                        </font>
                    </font>
                </span>
            </abp-button>
            <abp-table class="nowrap" striped-rows="true" id="HawbListTable"></abp-table>
        </abp-card-body>
    </abp-card>
</div>
<style>
    .filterDiv div {
        display: flex;
        padding: 0 !important;
    }
</style>



